In [ ]:
#Especificação do Sistema de Arquivos
!pip install fsspec

In [ ]:
#Instalando o pyspark
!pip install pyspark

In [ ]:
# Necessário para fazer a conexão com o MySQL
!pip install pymysql

In [ ]:
# Necessário para fazer a conexão com o MongoDB
!pip install pymongo[srv]

In [ ]:
!pip install SQLAlchemy

In [ ]:
# Necessário para fazer a conexão com o MySQL
!pip install mysql-connector-python

In [ ]:
!pip install gcsfs # Necessário para acessar o GCP

In [8]:
#Importa a Biblioteca do pandas
import pandas as pd
df = pd.read_csv('https://storage.googleapis.com/orcamento2/despesas_final.csv', sep=',')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
#Importa as Bibliotecas do GCS
import google.cloud.storage
import os
from google.cloud import storage

#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA
serviceAccount = "/content/drive/MyDrive/Colab Notebooks/dataset/boreal-quarter-349018-7e672e95d62f.json"
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
#Coverte o dataframe em csv
df.to_csv('despesas18_21.csv')

In [ ]:
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PYSPARK
client = storage.Client()
#CRIAR VARIÁVEL PARA RECEBER O NOME DA BUCKET
bucket = client.get_bucket('projetofinalbc17')
#Montando o nome do arquivo
object_name_in_gcs_bucket = bucket.blob('projetofinalbc17/originais/despesas18_21.csv')
#Fazendo o upload para o bucket
object_name_in_gcs_bucket.upload_from_filename('despesas18_21.csv')

In [ ]:
#Exbibe as informações do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104423 entries, 0 to 104422
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ano                   104423 non-null  int64
 1   cod_orgao             104423 non-null  int64
 2   nome_orgao            104423 non-null  object
 3   cod_sub               104423 non-null  int64
 4   nome_sub              104423 non-null  object
 5   cod_unidade           104423 non-null  int64
 6   nome_unidade          104423 non-null  object
 7   cod_funcao            104423 non-null  int64
 8   nome_funcao           104423 non-null  object
 9   cod_subfuncao         104423 non-null  int64
 10  nome_subfuncao        104423 non-null  object
 11  cod_programa          104423 non-null  int64
 12  nome_programa         104423 non-null  object
 13  cod_acao              104423 non-null  object
 14  nome_acao             104423 non-null  object
 15  cod_grp_despesa       104423 non-null  object
 16  nome_grp_despesa      104423 non-null  object
 17  cod_elemento          104423 non-null  int64
 18  nome_despesa          104423 non-null  object
 19  orcamento_inicial     104423 non-null  float64
 20  orcamento_atualizado  104423 non-null  float64
 21  orcamento_empenhado   104423 non-null  float64
 22  orcamento_realizado   104423 non-null  float64
dtypes: float64(4), int64(8), object(11)
memory usage: 18.3+ MB

In [ ]:
#Exibe a porcentagem de nulos
df.isna().mean()

ano                     0.0
cod_orgao               0.0
nome_orgao              0.0
cod_sub                 0.0
nome_sub                0.0
cod_unidade             0.0
nome_unidade            0.0
cod_funcao              0.0
nome_funcao             0.0
cod_subfuncao           0.0
nome_subfuncao          0.0
cod_programa            0.0
nome_programa           0.0
cod_acao                0.0
nome_acao               0.0
cod_grp_despesa         0.0
nome_grp_despesa        0.0
cod_elemento            0.0
nome_despesa            0.0
orcamento_inicial       0.0
orcamento_atualizado    0.0
orcamento_empenhado     0.0
orcamento_realizado     0.0
dtype: float64

In [ ]:
#Maximiza a exibição do dataframe
pd.options.display.max_columns = 23

In [ ]:
#Exibe o cabeçalho do dataframe
df.head(2)

,ano,cod_orgao,nome_orgao,cod_sub,nome_sub,cod_unidade,nome_unidade,cod_funcao,nome_funcao,cod_subfuncao,nome_subfuncao,cod_programa,nome_programa,cod_acao,nome_acao,cod_grp_despesa,nome_grp_despesa,cod_elemento,nome_despesa,orcamento_inicial,orcamento_atualizado,orcamento_empenhado,orcamento_realizado
0,2018,20000,Presidencia da República,24208,Instituto Nacional de Tecnologia da Informação,20204,INST.NAC.DE TECNOLOGIA DA INFORMACAO-ITI,4,Administração,331,Proteção e benefícios ao trabalhador,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,212B,"BENEFICIOS OBRIGATORIOS AOS SERVIDORES CIVIS, ...",3,Outras Despesas Correntes,8,Outros Benefícios Assistenciais do servidor e ...,14400.0,14400.0,9148.5,8843.55
1,2018,20000,Presidencia da República,24208,Instituto Nacional de Tecnologia da Informação,20204,INST.NAC.DE TECNOLOGIA DA INFORMACAO-ITI,4,Administração,331,Proteção e benefícios ao trabalhador,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,212B,"BENEFICIOS OBRIGATORIOS AOS SERVIDORES CIVIS, ...",3,Outras Despesas Correntes,0,Não informado,15704.0,15704.0,0.0,0.00

In [ ]:
#Bibliotecas usadas no banco SQL e Mongo
import pymongo
from pymongo import MongoClient
import pymysql
import mysql.connector
from sqlalchemy import create_engine

In [ ]:
#Conector e a engine para inserção
con = mysql.connector.connect(host='35.199.82.156',user='root',password='eddiesp16',db='projeto_final')
cur = con.cursor()

engine = create_engine("mysql+pymysql://root:eddiesp16@35.199.82.156/projeto_final")

In [ ]:
#Conversão para arquivo SQL para inserção no banco
df = df.to_sql('despesas', con = engine, if_exists='replace', index = False)

In [ ]:
#Agora crie e execute a consulta usando a instrução "SELECT *" com o método execute() para recuperar os dados
#Use o método fetchall() na variável resultado.
cur.execute('SELECT count(*) FROM despesas')
cur.fetchall()

[(104423,)]

In [ ]:
import mysql.connector as sql

db_connection = sql.connect(host='35.199.82.156', database='despesas', user='root', password='eddiesp16')

db_cursor = db_connection.cursor()

db_cursor.execute('SELECT * FROM despesa')

table_rows = db_cursor.fetchall()

df2 = pd.DataFrame(table_rows)

In [ ]:
#Exibe o cabeçalho do dataframe
df2.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,2014,20000,Presidência da República,67000,Secretaria de Políticas de Promoção da Igualda...,67101,SEC.DE POLITICAS DE PROM.DA IGUALDADE RACIAL,14,Direitos da cidadania,122,Administração geral,2103,PROGRAMA DE GESTAO E MANUTENCAO DA SECRETARIA ...,09HB,"CONTRIBUICAO DA UNIAO, DE SUAS AUTARQUIAS E FU...",1,Pessoal e Encargos Sociais,0,Não informado,-65728.12,17783.88,0.00,0.00
1,2014,20000,Presidência da República,20101,Presidência da República,20118,AGENCIA BRASILEIRA DE INTELIGENCIA - ABIN,6,Segurança pública,301,Atenção básica,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,2004,ASSISTENCIA MEDICA E ODONTOLOGICA AOS SERVIDOR...,3,Outras Despesas Correntes,0,Não informado,672182.22,170318.22,0.00,0.00
2,2014,20000,Presidência da República,20101,Presidência da República,20118,AGENCIA BRASILEIRA DE INTELIGENCIA - ABIN,6,Segurança pública,301,Atenção básica,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,2004,ASSISTENCIA MEDICA E ODONTOLOGICA AOS SERVIDOR...,3,Outras Despesas Correntes,93,Indenizações e Restituições,3808856.31,3808856.31,3808856.31,3808856.31
3,2014,20000,Presidência da República,20101,Presidência da República,20118,AGENCIA BRASILEIRA DE INTELIGENCIA - ABIN,6,Segurança pública,301,Atenção básica,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,2004,ASSISTENCIA MEDICA E ODONTOLOGICA AOS SERVIDOR...,3,Outras Despesas Correntes,92,Despesas de Exercícios Anteriores,41700.84,41700.84,41700.84,41700.84
4,2014,20000,Presidência da República,64000,Secretaria de Direitos Humanos,64101,SECRETARIA DE DIREITOS HUMANOS - SDH/PR,14,Direitos da cidadania,331,Proteção e benefícios ao trabalhador,2102,PROGRAMA DE GESTAO E MANUTENCAO DA SECRETARIA ...,2010,ASSISTENCIA PRE-ESCOLAR AOS DEPENDENTES DOS SE...,3,Outras Despesas Correntes,8,Outros Benefícios Assistenciais do servidor e ...,24120.00,24120.00,0.00,0.00

In [ ]:
#Exbibe as informações do dataframe
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129374 entries, 0 to 129411
Data columns (total 23 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       129374 non-null  int64
 1   1       129374 non-null  int64
 2   2       129374 non-null  object
 3   3       129374 non-null  int64
 4   4       129374 non-null  object
 5   5       129374 non-null  int64
 6   6       129374 non-null  object
 7   7       129374 non-null  int64
 8   8       129374 non-null  object
 9   9       129374 non-null  int64
 10  10      129374 non-null  object
 11  11      129374 non-null  int64
 12  12      129374 non-null  object
 13  13      129374 non-null  object
 14  14      129374 non-null  object
 15  15      129374 non-null  int64
 16  16      129374 non-null  object
 17  17      129374 non-null  int64
 18  18      129374 non-null  object
 19  19      129374 non-null  float64
 20  20      129374 non-null  float64
 21  21      129374 non-null  float64
 22  22      129374 non-null  float64
dtypes: float64(4), int64(9), object(10)
memory usage: 23.7+ MB

In [ ]:
#Mostra a porcetagem de nulos
df2.isna().mean()

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
dtype: float64

In [ ]:
#Mostra a porcentagem de duplicados
df2.duplicated().mean()

0.00029363582975303683

In [ ]:
#Mostra a porcentagem de duplicados
df2.duplicated().sum()

38

In [ ]:
#Elimina as linhas duplicadas
df2.drop_duplicates(inplace=True)

In [ ]:
#Muda os nomes das colunas
df.columns = ['ano',
               'cod_orgao',
               'nome_orgao',
               'cod_sub',
               'nome_sub',
               'cod_unidade',
               'nome_unidade',
               'cod_funcao',
               'nome_funcao',
               'cod_subfuncao',
               'nome_subfuncao',
               'cod_programa',
               'nome_programa',
               'cod_acao',
               'nome_acao',
               'cod_grp_despesa',
               'nome_grp_despesa',
               'cod_elemento',
               'nome_despesa',
               'orcamento_inicial',
               'orcamento_atualizado',
               'orcamento_empenhado',
               'orcamento_realizado']

In [ ]:
#Muda os nomes das colunas
df2.columns = ['ano',
               'cod_orgao',
               'nome_orgao',
               'cod_sub',
               'nome_sub',
               'cod_unidade',
               'nome_unidade',
               'cod_funcao',
               'nome_funcao',
               'cod_subfuncao',
               'nome_subfuncao',
               'cod_programa',
               'nome_programa',
               'cod_acao',
               'nome_acao',
               'cod_grp_despesa',
               'nome_grp_despesa',
               'cod_elemento',
               'nome_despesa',
               'orcamento_inicial',
               'orcamento_atualizado',
               'orcamento_empenhado',
               'orcamento_realizado']

In [ ]:
#Cria uma varíavel com os 2 dataframes
frames = [df, df2]

In [ ]:
#Concatena os 2 dataframes
pf = pd.concat([df, df2], ignore_index=True, sort=False)

In [ ]:
#Mostra as informações do novo dataframe
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233797 entries, 0 to 233796
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ano                   233797 non-null  int64
 1   cod_orgao             233797 non-null  int64
 2   nome_orgao            233797 non-null  object
 3   cod_sub               233797 non-null  int64
 4   nome_sub              233797 non-null  object
 5   cod_unidade           233797 non-null  int64
 6   nome_unidade          233797 non-null  object
 7   cod_funcao            233797 non-null  int64
 8   nome_funcao           233797 non-null  object
 9   cod_subfuncao         233797 non-null  int64
 10  nome_subfuncao        233797 non-null  object
 11  cod_programa          233797 non-null  int64
 12  nome_programa         233797 non-null  object
 13  cod_acao              233797 non-null  object
 14  nome_acao             233797 non-null  object
 15  cod_grp_despesa       233797 non-null  object
 16  nome_grp_despesa      233797 non-null  object
 17  cod_elemento          233797 non-null  int64
 18  nome_despesa          233797 non-null  object
 19  orcamento_inicial     233797 non-null  float64
 20  orcamento_atualizado  233797 non-null  float64
 21  orcamento_empenhado   233797 non-null  float64
 22  orcamento_realizado   233797 non-null  float64
dtypes: float64(4), int64(8), object(11)
memory usage: 41.0+ MB

In [ ]:
#Conector e a engine para inserção
con = mysql.connector.connect(host='35.199.82.156',user='root',password='eddiesp16',db='projeto_final')
cur = con.cursor()

engine = create_engine("mysql+pymysql://root:eddiesp16@35.199.82.156/projeto_final")

In [ ]:
#Converte em SQL
pf = pf.to_sql('despesas', con = engine, if_exists='replace', index = False)

In [ ]:
cur.execute('SELECT count(*) FROM despesas')
cur.fetchall()

[(233797,)]

In [ ]:
#Converte o arquivo em CSV
df2.to_csv('despesas1415161722.csv')

In [ ]:
#conector para mongodb
import pymongo
myclient = pymongo.MongoClient("mongodb+srv://soulcode:a1b2c3@cluster0.4u1yb.mongodb.net/projeto_final.projeto_final")
mydb = myclient["projeto_final"]
mycol = mydb["projeto_final"]

In [ ]:
#inserindo os dados no banco mongo convertendo para dicionarios
data = pf.to_dict(orient = "records")
db = myclient["projeto_final"]
db.projeto_final.insert_many(data)

In [ ]:
#Mostra o cabeçalho do dataframe
pf.head(56122)

,ano,cod_orgao,nome_orgao,cod_sub,nome_sub,cod_unidade,nome_unidade,cod_funcao,nome_funcao,cod_subfuncao,nome_subfuncao,cod_programa,nome_programa,cod_acao,nome_acao,cod_grp_despesa,nome_grp_despesa,cod_elemento,nome_despesa,orcamento_inicial,orcamento_atualizado,orcamento_empenhado,orcamento_realizado
0,2018,20000,Presidencia da República,24208,Instituto Nacional de Tecnologia da Informação,20204,INST.NAC.DE TECNOLOGIA DA INFORMACAO-ITI,4,Administração,331,Proteção e benefícios ao trabalhador,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,212B,"BENEFICIOS OBRIGATORIOS AOS SERVIDORES CIVIS, ...",3,Outras Despesas Correntes,8,Outros Benefícios Assistenciais do servidor e ...,1.440000e+04,1.440000e+04,9.148500e+03,8.843550e+03
1,2018,20000,Presidencia da República,24208,Instituto Nacional de Tecnologia da Informação,20204,INST.NAC.DE TECNOLOGIA DA INFORMACAO-ITI,4,Administração,331,Proteção e benefícios ao trabalhador,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,212B,"BENEFICIOS OBRIGATORIOS AOS SERVIDORES CIVIS, ...",3,Outras Despesas Correntes,0,Não informado,1.570400e+04,1.570400e+04,0.000000e+00,0.000000e+00
2,2018,20000,Presidencia da República,20101,Presidencia da República,20101,PRESIDENCIA DA REPUBLICA,4,Administração,331,Proteção e benefícios ao trabalhador,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,212B,"BENEFICIOS OBRIGATORIOS AOS SERVIDORES CIVIS, ...",3,Outras Despesas Correntes,49,Auxílio-Transporte,8.472915e+05,8.472915e+05,8.472915e+05,7.830497e+05
3,2018,20000,Presidencia da República,20101,Presidencia da República,20101,PRESIDENCIA DA REPUBLICA,4,Administração,331,Proteção e benefícios ao trabalhador,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,212B,"BENEFICIOS OBRIGATORIOS AOS SERVIDORES CIVIS, ...",3,Outras Despesas Correntes,8,Outros Benefícios Assistenciais do servidor e ...,1.154331e+05,1.154331e+05,1.154331e+05,1.061560e+05
4,2018,20000,Presidencia da República,60000,Gabinete da Vice-Presidencia da República,60101,GABINETE DA VICE-PRESIDENCIA DA REPUBLICA,4,Administração,331,Proteção e benefícios ao trabalhador,2101,PROGRAMA DE GESTAO E MANUTENCAO DA PRESIDENCIA...,212B,"BENEFICIOS OBRIGATORIOS AOS SERVIDORES CIVIS, ...",3,Outras Despesas Correntes,49,Auxílio-Transporte,1.680650e+03,1.680650e+03,1.680650e+03,1.503740e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56117,2020,25000,Ministério da Economia,38901,Fundo de Amparo ao Trabalhador,25915,FUNDO DE AMPARO AO TRABALHADOR,11,Trabalho,334,Fomento ao trabalho,2213,MODERNIZACAO TRABALHISTA E TRABALHO DIGNO,2C43,GESTAO DO FUNDO DE AMPARO AO TRABALHADOR - FAT,3,Outras Despesas Correntes,0,Não informado,1.146754e+06,5.539421e+04,0.000000e+00,0.000000e+00
56118,2020,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,93464,RECURSOS SOB SUPERVISAO MINIST. ECONOMIA,28,Encargos especiais,846,Outros encargos especiais,910,OPERACOES ESPECIAIS: GESTAO DA PARTICIPACAO EM...,0867,CONTRIBUICAO A SECRETARIA DO MERCADO COMUM DO ...,3,Outras Despesas Correntes,0,Não informado,3.940380e+05,0.000000e+00,0.000000e+00,0.000000e+00
56119,2020,25000,Ministério da Economia,38901,Fundo de Amparo ao Trabalhador,25915,FUNDO DE AMPARO AO TRABALHADOR,11,Trabalho,334,Fomento ao trabalho,2213,MODERNIZACAO TRABALHISTA E TRABALHO DIGNO,2C43,GESTAO DO FUNDO DE AMPARO AO TRABALHADOR - FAT,3,Outras Despesas Correntes,36,Outros Serviços de Terceiros - Pessoa Física,1.035500e+03,1.035500e+03,1.035500e+03,1.035500e+03
56120,2020,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,75101,REC.SOB SUPERV. DO ME - DIVIDA PUB FED,28,Encargos especiais,846,Outros encargos especiais,909,OPERACOES ESPECIAIS: OUTROS ENCARGOS ESPECIAIS,00Q3,ASSUNCAO E NOVACAO DE DIVIDAS DO FUNDO DE COMP...,I,Inválido,-3,Inválido,9.400000e+07,9.400000e+07,9.400000e+07,0.000000e+00
56121,2020,25000,Ministério da Economia,38901,Fundo de Amparo ao Trabalhador,25915,FUNDO DE AMPARO AO TRABALHADOR,11,Trabalho,331,Proteção e benefícios ao trabalhador,5027,INCLUSAO PRODUTIVA DE PESSOAS EM SITUACAO DE V...,0581,ABONO SALARIAL,3,Outras Despesas Correntes,10,Seguro Desemprego e Abono Salarial,1.925984e+10,1.925984e+10,1.925902e+10,1.925902e+10

In [ ]:
#Substituindo a letra I na coluna cod_grp_despesa
pf['cod_grp_despesa']= pf['cod_grp_despesa'].replace(['I'],0)

In [ ]:
#Convertendo a coluna em tipo numérico
pf['cod_grp_despesa'] = pd.to_numeric(pf.cod_grp_despesa)

In [ ]:
#Converte o dataframe em arquivo parquet
pf.to_parquet('despesastratadofull1.parquet')

In [ ]:
from google.cloud import storage
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PYSPARK
client = storage.Client()
#CRIAR VARIÁVEL PARA RECEBER O NOME DA BUCKET
bucket = client.get_bucket('projetofinalbc17')
#Montando o nome do arquivo
object_name_in_gcs_bucket = bucket.blob('projetofinalbc17/parquet/despesastratadofull1.parquet')
#Fazendo o upload para o bucket
object_name_in_gcs_bucket.upload_from_filename('despesastratadofull1.parquet')

In [64]:
#CHAMAR AS BIBLIOTECAS/MÓDULOS NECESSÁRIAS
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F

In [ ]:
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PYSPARK
client = storage.Client()
#CRIAR VARIÁVEL PARA RECEBER O NOME DA BUCKET
bucket = client.get_bucket('projetofinalbc17')
#USA O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO
bucket.blob('projetofinalbc17/parquet/despesastratadofull1.parquet')
#CRIA A VARIÁVEL PATH COLOCANDO O CAMINHO DE URI
path = 'gs://projetofinalbc17/projetofinalbc17/parquet/despesastratadofull1.parquet'

In [ ]:
#Leitura do arquivo em parquet através da varial path
df3 = pd.read_parquet(path)

In [ ]:
#Converte o arquivo em csv
df3.to_csv('despesastratadofull1.csv')

In [ ]:
from google.cloud import storage
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PYSPARK
client = storage.Client()
#CRIAR VARIÁVEL PARA RECEBER O NOME DA BUCKET
bucket = client.get_bucket('projetofinalbc17')
#Montando o nome do arquivo
object_name_in_gcs_bucket = bucket.blob('projetofinalbc17/parquet/despesastratadofull1.csv')
#Fazendo o upload para o bucket
object_name_in_gcs_bucket.upload_from_filename('gs://projetofinalbc17/projetofinalbc17/parquet/despesastratadofull1.csv')

In [39]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('projeto_final')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [14]:
#Carregando o arquivo para o sparksql
df3 = (spark
      .read
      .format("parquet")
      .option("header", "true")
      .option("inferschema", "true")
      #.option("delimiter", ";")
      .load("gs://projetofinalbc17/projetofinalbc17/parquet/despesastratadofull1.parquet")
      .createOrReplaceTempView("teste"))

In [15]:
#Exibe as primeiras 2 linhas
spark.sql('''SELECT * FROM teste''').show(2)

+----+---------+--------------------+-------+--------------------+-----------+--------------------+----------+-------------+-------------+--------------------+------------+--------------------+--------+--------------------+---------------+--------------------+------------+--------------------+-----------------+--------------------+-------------------+-------------------+
| ano|cod_orgao|          nome_orgao|cod_sub|            nome_sub|cod_unidade|        nome_unidade|cod_funcao|  nome_funcao|cod_subfuncao|      nome_subfuncao|cod_programa|       nome_programa|cod_acao|           nome_acao|cod_grp_despesa|    nome_grp_despesa|cod_elemento|        nome_despesa|orcamento_inicial|orcamento_atualizado|orcamento_empenhado|orcamento_realizado|
+----+---------+--------------------+-------+--------------------+-----------+--------------------+----------+-------------+-------------+--------------------+------------+--------------------+--------+--------------------+---------------+--------------------+------------+--------------------+-----------------+--------------------+-------------------+-------------------+
|2018|    20000|Presidencia da Re...|  24208|Instituto Naciona...|      20204|INST.NAC.DE TECNO...|         4|Administração|          331|Proteção e benefí...|        2101|PROGRAMA DE GESTA...|    212B|BENEFICIOS OBRIGA...|              3|Outras Despesas C...|           8|Outros Benefícios...|          14400.0|             14400.0|             9148.5|            8843.55|
|2018|    20000|Presidencia da Re...|  24208|Instituto Naciona...|      20204|INST.NAC.DE TECNO...|         4|Administração|          331|Proteção e benefí...|        2101|PROGRAMA DE GESTA...|    212B|BENEFICIOS OBRIGA...|              3|Outras Despesas C...|           0|       Não informado|          15704.0|             15704.0|                0.0|                0.0|
+----+---------+--------------------+-------+--------------------+-----------+--------------------+----------+-------------+-------------+--------------------+------------+--------------------+--------+--------------------+---------------+--------------------+------------+--------------------+-----------------+--------------------+-------------------+-------------------+
only showing top 2 rows

In [16]:
#Exbibe os nomes das espesas da tabela despesas
spark.sql('''SELECT nome_despesa FROM teste group by nome_despesa ''').show(50)

+--------------------+
|        nome_despesa|
+--------------------+
|Arrendamento merc...|
|Premiações Cultur...|
| Sentenças Judiciais|
|Ressarcimento de ...|
|Remuneração de Co...|
|Outros Encargos s...|
|Auxílio Financeir...|
|Pensões do RPPS e...|
|   Diárias - Militar|
|       Não informado|
|   Pensões Especiais|
|  Auxílio-Transporte|
|       Contribuições|
|Passagens e Despe...|
|Vencimentos e Van...|
|       A Classificar|
|Locação de Mão-de...|
| Obras e Instalações|
|Aposentadorias do...|
|Encargos pela Hon...|
|Outros Encargos s...|
|Equipamentos e Ma...|
|Indenização pela ...|
|Contratação por T...|
|Participação em F...|
|Obrigações Tribut...|
|Seguro Desemprego...|
|            Auxílios|
|COMPENSACOES A RE...|
|  Subvenções sociais|
|Outros Benefícios...|
|Outras Despesas d...|
|Distribuição de R...|
|Contribuição a En...|
|Material, Bem ou ...|
|Outros Benefícios...|
|Serviços de Consu...|
|Principal da Dívi...|
|Despesas de Exerc...|
|Aposentadorias do...|
|Aquisição de bens...|
|Rateio pela Parti...|
|Compensações ao RGPS|
|Principal Corrigi...|
|Outros Serviços d...|
|Juros, Deságios e...|
|Aquisição de imóveis|
|Pensões do RGPS -...|
|Outros Auxílios F...|
|            Inválido|
+--------------------+
only showing top 50 rows

In [ ]:
#Exibe os grupos da coluna nome_despesa 
spark.sql('''SELECT nome_despesa FROM teste group by nome_despesa ''').show(50)