Nivel Infra
O Dataset deve ser salvo em ambiente cloud(Cloud Storage) - ok
O arquivo original e tratado deve ser salvo em MongoDB Atlas em coleções diferentes - Em parte
Os DataFrames devem ser obrigatoriamente salvos em uma bucket do CloudStorage - Em parte

Nivel Pandas
O arquivo está em outra linguagem e deve ter seus dados traduzidos para Português-BR - ok
Realizar a extração corretamente para um dataframe - ok
Verificar a existência de dados inconsistentes e realizar a limpeza para NaN ou NA - ok
Realizar o drop(se necessário) de colunas do dataframe realizando o comentário do porque da exclusão - ok
Todos os passos devem ser comentados

Nivel PySpark (Funções básicas vistas em aula)
Deverá ser montada a estrutura do DataFrame utilizando o StructType.
Verificar a existência de dados inconsistentes, nulos e realizar a limpeza.
Verificar a necessidade de drop em colunas ou linhas. Caso seja necessário, fazer comentário do porque.
Realizar a mudança de nome de pelo menos 2 colunas
Deverá criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins). (Use a sua capacidade analítica)
Deverá utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)
Utilizar pelo menos duas Window Functions

Nivel SparkSQL
Utilizar no minimo 5 consultas diferentes utilizando o SparkSQL, comentando o porquê de ter escolhido essas funções e explicando o que cada consulta faz.

Nível DataStudio
Construir um dashboard (maximo 1 pagina) para apresentação dos insights

Ferramentas
Colab ou Ides | Google Cloud | Data Studio

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [209]:
#Importando os modulos e os dados do arquivo CSV e salvando em um DataFrame com pandas
import pandas
import pandas as pd

In [ ]:
# Leitura de dados e maximizando exibição
df = pd.read_csv("marketing_campaign.csv", sep = ";")
pd.options.display.max_rows = 3000
pd.options.display.max_columns = 29
df

In [ ]:
from google.cloud import storage
# Credenciais de acesso json(key)
client = storage.Client.from_service_account_json(json_credentials_path='')
#Indicando a bucket que vai ser usada
bucket = client.get_bucket('nome do bucket')
#Montando o nome do arquivo
object_name_in_gcs_bucket = bucket.blob('marketing_campaign.csv')
#Fazendo o upload para o bucket
object_name_in_gcs_bucket.upload_from_filename('marketing_campaign.csv')

In [214]:
#conector para mongodb
import pymongo
myclient = pymongo.MongoClient("mongodb+srv://user:password@cluster0.4u1yb.mongodb.net/banco e coleção")
mydb = myclient["banco"]
mycol = mydb["coleçao"]

ConfigurationError: ignored

In [ ]:
#inserindo os dados no banco mongo convertendo para dicionarios
data = df.to_dict(orient = "records")
db = myclient["banco"]
db.banco.insert_many(data)

Nivel Pandas
O arquivo está em outra linguagem e deve ter seus dados traduzidos para Português-BR
Realizar a extração corretamente para um dataframe
Verificar a existência de dados inconsistentes e realizar a limpeza para NaN ou NA
Realizar o drop(se necessário) de colunas do dataframe realizando o comentário do porque da exclusão 
Todos os passos devem ser comentados

In [ ]:
# Exibir informações sobre dados
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
#Renomeando as colunas em português
df.rename(columns={'Year_Birth':'Ano_nascimento', 
                    'Education':'Escolaridade', 
                    'Marital_Status':'Estado_civil',
                    'Income':'Renda',
                    'Kidhome':'Qtd_criancasnacasa',
                    'Teenhome':'Qtd_adoslecentesnacasa',
                    'Dt_Customer':'Data_cadastro',
                    'Recency':'Dias_ultimacompra',
                    'MntWines':'Gastos_vinhos',
                    'MntFruits':'Gastos_frutas',
                    'MntMeatProducts':'Gastos_carnes',
                    'MntFishProducts':'Gastos_peixes',
                    'MntSweetProducts':'Gastos_doces',
                    'MntGoldProds':'Gastos_ouro',
                    'NumDealsPurchases':'Qtd_compras_descontos',
                    'NumWebPurchases':'Qtd_compras_site',
                    'NumCatalogPurchases':'Qtd_compras_catalogo',
                    'NumStorePurchases':'Qtd_compras_loja',
                    'NumWebVisitsMonth':'Qtd_visitas_site_mes',
                    'AcceptedCmp3':'Aceito_cmp3',
                    'AcceptedCmp4':'Aceito_cmp4',
                    'AcceptedCmp5':'Aceito_cmp5',
                    'AcceptedCmp1':'Aceito_cmp41',
                    'AcceptedCmp2':'Aceito_cmp2',
                    'Complain':'Reclamacao',
                    'Z_CostContact':'Custo_contato',
                    'Z_Revenue':'Imposto',
                    'Response':'Resposta',
                    }, inplace=True)

In [ ]:
df.head()

In [ ]:
df['Escolaridade']

In [ ]:
#Renomeando as linhas da coluna escolaridade
df.replace(['Graduation'], 'Graduado', inplace=True)
df.replace(['PhD'], 'Doutorado', inplace=True)
df.replace(['Master'], 'Mestrado', inplace=True)
df.replace(['Basic'], 'Básico', inplace=True)
df.replace(['2n Cycle'], 'Pós_graducão', inplace=True)

In [ ]:
#Exibir a coluna Estado Civil
df['Estado_civil']

In [ ]:
#Trocando os valores das linhas e traduzindo
df.replace(['Single'], 'Solteiro', inplace=True)
df.replace(['Together'], 'Juntos', inplace=True)
df.replace(['Married'], 'Casado', inplace=True)
df.replace(['Divorced'], 'Divorciado', inplace=True)
df.replace(['Widow'], 'Viúvo', inplace=True)
df.replace(['Alone'], 'Solteiro', inplace=True)
df.replace(['Absurd'], 'Solteiro', inplace=True)
df.replace(['YOLO'], 'Solteiro', inplace=True)

In [ ]:
df.head(1)

In [ ]:
#Exibe a coluna Data_cadastro
df['Data_cadastro']

In [ ]:
#Muda o valor da coluna para data
df['Data_cadastro'] = pd.to_datetime(df.Data_cadastro)

In [ ]:
# monstra a contagem dos valores nulos
df.isnull().sum()

In [ ]:
#Exbibe a coluna renda
df['Renda']

In [ ]:
# Backup da variavel df atribuindo outra variavel
df2 = df

In [ ]:
#Remove a linha com valores nulos
df.dropna(inplace=True)

In [ ]:
#Exibe os valores nulos no dataframe
df.isna()

In [ ]:
#Exibe todo o dataframe
df

In [ ]:
#Converte o arquivo pandas em csv
df.to_csv('tratadapandas.csv')

In [211]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/def/tratadapandas.csv", sep = ";")

In [238]:
from pymongo import MongoClient

In [251]:
#conector para mongodb
import pymongo
myclient = pymongo.MongoClient("mongodb+srv://user:password@cluster0.4u1yb.mongodb.net/banco.coleção")
mydb = myclient["banco"]
mycol = mydb["coleção"]

/usr/local/lib/python3.7/dist-packages/pymongo/common.py:787: UserWarning: Unknown option ssl_cert_reqs
  warnings.warn(str(exc))

In [ ]:
#inserindo os dados no banco mongo convertendo para dicionarios
data = df.to_dict(orient = "records")
db = myclient["banco"]
db.coleção.insert_many(data)

In [ ]:
from google.cloud import storage
# Credenciais de acesso json(key)
client = storage.Client.from_service_account_json(json_credentials_path='.json')
#Indicando a bucket que vai ser usada
bucket = client.get_bucket('bucket')
#Montando o nome do arquivo
object_name_in_gcs_bucket = bucket.blob('marketing_campaign.csv')
#Fazendo o upload para o bucket
object_name_in_gcs_bucket.upload_from_filename('tratadapandas.csv')

In [2]:
#Instalando o pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 55.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=9b33c017b3176e11f11cf3d81a08dd9110656db3ff9c8acab5c0d3930da3038c
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
#Instalando o gcsfs para usar o cloud storage
!pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2022.5.0-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 9.7 MB/s
Collecting fsspec==2022.5.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 61.5 MB/s
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.2.0)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 64.8 MB/s
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 181 kB/s
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 47.6 MB/s
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.5.18.1)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.5)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.1)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.5.0 gcsfs-2022.5.0 multidict-6.0.2 yarl-1.7.2

In [108]:
#CHAMAR AS BIBLIOTECAS/MÓDULOS NECESSÁRIAS
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F

In [109]:
#CHAMAR AS BIBLIOTECAS/MÓDULOS NECESSÁRIAS
from google.cloud import storage
import os

In [110]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA
serviceAccount = '.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [111]:
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PYSPARK
client = storage.Client()

#CRIAR VARIÁVEL PARA RECEBER O NOME DA BUCKET
bucket = client.get_bucket('bucket')

#USA O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO
bucket.blob('marketing_campaign.csv')

#CRIA A VARIÁVEL PATH COLOCANDO O CAMINHO DE URI
path = 'gs://_/marketing_campaign.csv'

In [112]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-gcs')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [113]:
# usa o objeto StructType
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType, DoubleType, TimestampType
schema_df = StructType([
    StructField("ID", IntegerType()),
    StructField("Year_Birth", IntegerType()),
    StructField("Education", StringType()),
    StructField("Marital_Status", StringType()),
    StructField("Income", IntegerType()),
    StructField("Kidhome", IntegerType()),
    StructField("Teenhome", IntegerType()),
    StructField("Dt_Customer", StringType()),
    StructField("Recency", IntegerType()),
    StructField("MntWines", IntegerType()),
    StructField("MntMeatProducts", IntegerType()),
    StructField("MntFishProducts", IntegerType()),
    StructField("MntSweetProducts", IntegerType()),
    StructField("MntGoldProds", IntegerType()),
    StructField("NumDealsPurchases", IntegerType()),
    StructField("NumWebPurchases", IntegerType()),
    StructField("NumCatalogPurchases", IntegerType()),
    StructField("NumStorePurchases", IntegerType()),
    StructField("NumWebVisitsMonth", IntegerType()),
    StructField("AcceptedCmp3", IntegerType()),
    StructField("AcceptedCmp4", IntegerType()),
    StructField("AcceptedCmp5", IntegerType()),
    StructField("AcceptedCmp1", IntegerType()),
    StructField("AcceptedCmp2", IntegerType()),
    StructField("Complain", IntegerType()),
    StructField("Z_CostContact", IntegerType()),
    StructField("Z_Revenue", IntegerType()),
    StructField("Response", IntegerType())


])

In [114]:
#CRIAR UM DATAFRAME PELO PYSPARK com base no structtype
df_spark = ( spark.read.format('csv')
                       .option('delimiter', ';')
                       .option('header', 'true')
                       .option('inferschema', 'true')
                       .load('gs://_/marketing_campaign.csv', schema = schema_df)

)

In [115]:
#Verificar os tipos das colunas
df_spark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [116]:
df_spark.show(1)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 2012-09-04|     58|     635|             88|            546|             172|          88|               88|              3|                  8|               10|                4|           7|           0|           0|           0|           0|       0|            0|        3|      11|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 1 row

In [117]:
#Exibe os soma dos nulos
df_spark.toPandas().isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [118]:
# remove qualquer linha nula de qualquer coluna
df_spark = df_spark.na.drop()

# Foi removido as linhas com os valores nulos equivalente a 1,07% do total

In [119]:
#Exibe os soma dos nulos
df_spark.toPandas().isna().sum()

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

In [120]:
df_spark.show(1)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 2012-09-04|     58|     635|             88|            546|             172|          88|               88|              3|                  8|               10|                4|           7|           0|           0|           0|           0|       0|            0|        3|      11|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 1 row

In [121]:
#Renomeando as colunas Education e Marital_Status
df_spark = df_spark.withColumnRenamed('Education', 'Escolaridade')
df_spark = df_spark.withColumnRenamed('Marital_Status', 'Estado_civel')

In [122]:
# Exibe os valores alterados da coluna
df_spark.show(1)

+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth|Escolaridade|Estado_civel|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|  Graduation|      Single| 58138|      0|       0| 2012-09-04|     58|     635|             88|            546|             172|          88|               88|              3|                  8|               10|                4|           7|           0|           0|           0|           0|       0|            0|        3|      11|
+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 1 row

In [123]:
#Criando uma nova coluna com a soma das colunas Kidhome e Teenhome
#soma total das crianças e adolescentes
df_spark = df_spark.withColumn('Kidhomesum', F.col('Kidhome') + F.col('Teenhome'))
#Criando uma nova coluna com o total de gastos com a soma do tipos de itens gastos ao longo de 2 anos
df_spark = df_spark.withColumn('Totalgastos', F.col('MntWines') + F.col('MntMeatProducts')+ F.col('MntFishProducts')+ F.col('MntSweetProducts')+ F.col('MntGoldProds'))

In [124]:
df_spark.show(5)

+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+----------+-----------+
|  ID|Year_Birth|Escolaridade|Estado_civel|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|Kidhomesum|Totalgastos|
+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+----------+-----------+
|5524|      1957|  Graduation|      Single| 58138|      0|       0| 2012-09-04|     58|     635|             88|            546|             172|          88|               88|              3|                  8|               10|                4|           7|           0|           0|           0|           0|       0|            0|        3|      11|         0|       1529|
|2174|      1954|  Graduation|      Single| 46344|      1|       1| 2014-03-08|     38|      11|              1|              6|               2|           1|                6|              2|                  1|                1|                2|           5|           0|           0|           0|           0|       0|            0|        3|      11|         2|         21|
|4141|      1965|  Graduation|    Together| 71613|      0|       0| 2013-08-21|     26|     426|             49|            127|             111|          21|               42|              1|                  8|                2|               10|           4|           0|           0|           0|           0|       0|            0|        3|      11|         0|        734|
|6182|      1984|  Graduation|    Together| 26646|      1|       0| 2014-02-10|     26|      11|              4|             20|              10|           3|                5|              2|                  2|                0|                4|           6|           0|           0|           0|           0|       0|            0|        3|      11|         1|         48|
|5324|      1981|         PhD|     Married| 58293|      1|       0| 2014-01-19|     94|     173|             43|            118|              46|          27|               15|              5|                  5|                3|                6|           5|           0|           0|           0|           0|       0|            0|        3|      11|         1|        407|
+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+----------+-----------+
only showing top 5 rows

In [132]:
#exibe a soma de rendas por escolaridade
df_spark.groupBy('Escolaridade').sum('Income').show()

+------------+-----------+
|Escolaridade|sum(Income)|
+------------+-----------+
|    2n Cycle|    9526638|
|         PhD|   27005896|
|      Master|   19314900|
|  Graduation|   58835937|
|       Basic|    1096538|
+------------+-----------+

In [133]:
#exibe a soma de Total gasto por escolaridade
df_spark.groupBy('Escolaridade').sum('Totalgastos').show()

+------------+----------------+
|Escolaridade|sum(Totalgastos)|
+------------+----------------+
|    2n Cycle|           89610|
|         PhD|          309923|
|      Master|          207896|
|  Graduation|          637239|
|       Basic|            3184|
+------------+----------------+

In [134]:
#exibe a média de Total gasto por escolaridade
df_spark.groupBy('Escolaridade').mean('Totalgastos').show()

+------------+-----------------+
|Escolaridade| avg(Totalgastos)|
+------------+-----------------+
|    2n Cycle|           448.05|
|         PhD|644.3305613305613|
|      Master|569.5780821917808|
|  Graduation| 571.002688172043|
|       Basic|58.96296296296296|
+------------+-----------------+

In [138]:
df_spark.show(10)

+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+----------+-----------+
|  ID|Year_Birth|Escolaridade|Estado_civel|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|Kidhomesum|Totalgastos|
+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+----------+-----------+
|5524|      1957|  Graduation|      Single| 58138|      0|       0| 2012-09-04|     58|     635|             88|            546|             172|          88|               88|              3|                  8|               10|                4|           7|           0|           0|           0|           0|       0|            0|        3|      11|         0|       1529|
|2174|      1954|  Graduation|      Single| 46344|      1|       1| 2014-03-08|     38|      11|              1|              6|               2|           1|                6|              2|                  1|                1|                2|           5|           0|           0|           0|           0|       0|            0|        3|      11|         2|         21|
|4141|      1965|  Graduation|    Together| 71613|      0|       0| 2013-08-21|     26|     426|             49|            127|             111|          21|               42|              1|                  8|                2|               10|           4|           0|           0|           0|           0|       0|            0|        3|      11|         0|        734|
|6182|      1984|  Graduation|    Together| 26646|      1|       0| 2014-02-10|     26|      11|              4|             20|              10|           3|                5|              2|                  2|                0|                4|           6|           0|           0|           0|           0|       0|            0|        3|      11|         1|         48|
|5324|      1981|         PhD|     Married| 58293|      1|       0| 2014-01-19|     94|     173|             43|            118|              46|          27|               15|              5|                  5|                3|                6|           5|           0|           0|           0|           0|       0|            0|        3|      11|         1|        407|
|7446|      1967|      Master|    Together| 62513|      0|       1| 2013-09-09|     16|     520|             42|             98|               0|          42|               14|              2|                  6|                4|               10|           6|           0|           0|           0|           0|       0|            0|        3|      11|         1|        702|
| 965|      1971|  Graduation|    Divorced| 55635|      0|       1| 2012-11-13|     34|     235|             65|            164|              50|          49|               27|              4|                  7|                3|                7|           6|           0|           0|           0|           0|       0|            0|        3|      11|         1|        563|
|6177|      1985|         PhD|     Married| 33454|      1|       0| 2013-05-08|     32|      76|             10|             56|               3|           1|               23|              2|                  4|                0|                4|           8|           0|           0|           0|           0|       0|            0|        3|      11|         1|        146|
|4855|      1974|         PhD|    Together| 30351|      1|       0| 2013-06-06|     19|      14|              0|             24|               3|           3|                2|              1|                  3|                0|                2|           9|           0|           0|           0|           0|       0|            0|        3|      11|         1|         44|
|5899|      1950|         PhD|    Together|  5648|      1|       1| 2014-03-13|     68|      28|              0|              6|               1|           1|               13|              1|                  1|                0|                0|          20|           1|           0|           0|           0|       0|            0|        3|      11|         2|         36|
+----+----------+------------+------------+------+-------+--------+-----------+-------+--------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+----------+-----------+
only showing top 10 rows

In [143]:
#Importando os modulos do window functions
from pyspark.sql.window import Window
from pyspark.sql.functions import col,avg,sum,min,max,row_number

In [148]:
# Criando a windows a partir do dataframe
windowPartitionAgg  = Window.partitionBy("Escolaridade")
 
# função agragada

#mostra mínimo particionado com escolaridade
df_spark.withColumn("Min",
             min(col("Income")).over(windowPartitionAgg))

In [ ]:
# Criando a windows a partir do dataframe
windowPartitionAgg2  = Window.partitionBy("Escolaridade")
 
# função agragada

#mostra máximo particionado com escolaridade
df_spark.withColumn("Max",
             max(col("Income")).over(windowPartitionAgg)).show()

In [170]:
#Carregando o arquivo para o sparksql
df_test = (spark
      .read
      .format("csv")
      .option("header", "true")
      .option("inferschema", "true")
      .option("delimiter", ";")
      .load("gs://_/marketing_campaign.csv")
      .createOrReplaceTempView("teste"))

In [171]:
#Exibe as primeiras 2 linhas
spark.sql('''SELECT * FROM teste''').show(2)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 2 rows

In [177]:
#exibe Education e Income ordenado em descrecente
spark.sql('''
            SELECT Income
            FROM teste
            ORDER BY Income DESC;
          ''').show(10)

+------+
|Income|
+------+
|666666|
|162397|
|160803|
|157733|
|157243|
|157146|
|156924|
|153924|
|113734|
|105471|
+------+
only showing top 10 rows

In [195]:
#exibe Education e Income ordenado em ascendente
spark.sql('''
            SELECT Income
            FROM teste
            where Income >= 0
            ORDER BY Income ASC;
          ''').show(30)

+------+
|Income|
+------+
|  1730|
|  2447|
|  3502|
|  4023|
|  4428|
|  4861|
|  5305|
|  5648|
|  6560|
|  6835|
|  7144|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  7500|
|  8028|
|  8820|
|  8940|
|  9255|
|  9548|
|  9722|
| 10245|
+------+
only showing top 30 rows

In [203]:
#exibe a quantidade de cadastro agrupado pela coluna Education
spark.sql('''
            SELECT
	Education,
	COUNT(Education) headcount
FROM
	teste
GROUP BY
	Education;
            ;
          ''').show()

+----------+---------+
| Education|headcount|
+----------+---------+
|  2n Cycle|      203|
|       PhD|      486|
|    Master|      370|
|Graduation|     1127|
|     Basic|       54|
+----------+---------+

In [ ]:
#exibe a quantidade de cadastro agrupado pela coluna Education
spark.sql('''
            SELECT
	
	COUNT(Education) headcount
FROM
	teste
GROUP BY
	Education;
            ;
          ''').show()

In [208]:
#exibe da tabela
spark.sql('''DESCRIBE teste''').show()

+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|                 ID|      int|   null|
|         Year_Birth|      int|   null|
|          Education|   string|   null|
|     Marital_Status|   string|   null|
|             Income|      int|   null|
|            Kidhome|      int|   null|
|           Teenhome|      int|   null|
|        Dt_Customer|   string|   null|
|            Recency|      int|   null|
|           MntWines|      int|   null|
|          MntFruits|      int|   null|
|    MntMeatProducts|      int|   null|
|    MntFishProducts|      int|   null|
|   MntSweetProducts|      int|   null|
|       MntGoldProds|      int|   null|
|  NumDealsPurchases|      int|   null|
|    NumWebPurchases|      int|   null|
|NumCatalogPurchases|      int|   null|
|  NumStorePurchases|      int|   null|
|  NumWebVisitsMonth|      int|   null|
+-------------------+---------+-------+
only showing top 20 rows